<app-titulo [titulo]="titulo"></app-titulo>
<div class="d-flex">
<div class="form-inline mr-auto">
  <div class="form-group mb-2">
    <input [(ngModel)]="filtroLista" 
           type="text" 
           class="form-control mr-2" 
           placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>  
<div>
  <button class="btn btn-outline-primary" (click)="novoEvento(template)">
    <i class="fa fa-plus-circle"></i>
    Novo Evento</button>
</div>
</div>
<h3><label class="mr-2">Filtro: </label> {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary" 
          (click)="alternarImagem()" >
          <i class="{{mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>                
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>    
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" 
              src="http://localhost:5000/Resources/Images/{{evento.imagemUrl}}?_ts{{dataAtual}}"
              [style.width.px] = "imagemLargura"
              [style.margin.px] = "imagemMargem" />
      </td>       
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" 
            tooltip="Editar" 
            (click)="editarEvento(evento, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirEvento(evento, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>        
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>     
</table>  

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="eventoForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control" formControlName="tema" 
                [ngClass]="{'is-invalid': eventoForm.controls.tema.errors && eventoForm.controls.tema.touched}" placeholder="Insira o tema">
              <div *ngIf="eventoForm.controls.tema.errors?.required" class="invalid-feedback">
                Tema obrigatório 
              </div>  
              <div *ngIf="eventoForm.controls.tema.errors?.minlength" class="invalid-feedback">
                Mínimo 4 caracteres   
              </div>  
              <div *ngIf="eventoForm.controls.tema.errors?.maxlength" class="invalid-feedback">
                Máximo 50 caracteres   
              </div>  
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control" formControlName="local" 
              [ngClass]="{'is-invalid': eventoForm.controls.local.errors && eventoForm.controls.local.touched}" placeholder="Insira o local">
              <div *ngIf="eventoForm.controls.local.errors?.required" class="invalid-feedback">
                Local é obrigatório 
              </div> 
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text" formControlName="dataEvento" class="form-control" bsDatepicker
                value="{{dataEvento | DateTimeFormatPipe}}"
                [(ngModel)]="dataEvento"
                [bsConfig] = "{ dateInputFormat: 'DD/MM/YYYY hh:mm a' }"
                [ngClass]="{'is-invalid': eventoForm.controls.dataEvento.errors && eventoForm.controls.dataEvento.touched}" placeholder="Insira a data do evento">
              <div *ngIf="eventoForm.controls.dataEvento.errors?.required" class="invalid-feedback">
                  Data do Evento é obrigatória
              </div>
            </div>
          </div>    
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input type="number" class="form-control" formControlName="qtdPessoas"
                [ngClass]="{'is-invalid': eventoForm.controls.qtdPessoas.errors && eventoForm.controls.qtdPessoas.touched}" placeholder="Insira a quantidade de pessoas">
              <div *ngIf="eventoForm.controls.qtdPessoas.errors?.required" class="invalid-feedback">
                Quantidade de pessoas é obrigatória
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>  
              <table>
                <tr>
                  <td>
                    <button class="btn btn-success" (click)="file.click()">
                      Enviar imagem
                    </button>
                    <input type="file" #file class="form-control" formControlName="imagemUrl"
                      [ngClass]="{'is-invalid': eventoForm.controls.imagemUrl.errors && eventoForm.controls.imagemUrl.touched}"
                      (change)="onFileChange($event)"
                      placeholder="Insira a url da imagem" style="display: none">
                  </td>
                </tr>
              </table>                  
              
              <div *ngIf="eventoForm.controls.imagemUrl.errors?.required" class="invalid-feedback">
                Imagem é obrigatória
              </div>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone</label>      
              <input type="text" class="form-control" formControlName="telefone"
                [ngClass]="{'is-invalid': eventoForm.controls.telefone.errors && eventoForm.controls.telefone.touched}" placeholder="Insira o telefone">
              <div *ngIf="eventoForm.controls.telefone.errors?.required" class="invalid-feedback">
                Telefone é obrigatório.
              </div>
            </div>
             <div class="form-group col-md-8">
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid': eventoForm.controls.email.errors && eventoForm.controls.email.touched}" placeholder="Insira o e-mail">
                <div class="invalid-feedback" *ngIf="eventoForm.controls.email.errors?.required">
                  E-mail é obrigatório
                </div>
            </div>
          </div> 
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!eventoForm.valid" (click)="SalvarAlteracao(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			Cancelar
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          			Deletar
        		</button>
    		</div>
  		</div>
	</div>
</div>

<br>
